 <html>
  <head>
    <style>
      body {
        background: blue;
      }
    </style>
  </head>
  <body>
    <p>
      <%= message %>
    </p>
    <form>
    <label>Number:</label><input type='text' name='guess' />
    <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
